*.pyc
test-*

*.obj
*.o
*.htm
*.manifest*
*.pch
*.dep
*.idb
*.pdb
*.ncb
*.suo
*.user
*.ilk
*.exe
*.opensdf
*.sdf
*.tlog
*.log
*_manifest.rc
*.lastbuildstate
*.unsuccessfulbuild
*.ipch
*.cache
*.cu.deps
*.png

build
src/GeneratedFiles
